
.container1{
    border: 4px solid red;
   @include sectionSect;
    @include flexCenter(row);
   position: relative;
}

h2{
@include texth2(white);
}

.absurde{
    bottom:30px;
   padding-top: 85px;
}
.container2{
    // position: relative;
    // border: 4px solid purple;
    @include flexCenter(column);
    justify-content: space-between;
   


}

.titreVertical{
    position: absolute;
    left: 20px;
    align-self: flex-start;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.section1{
    background: linear-gradient(180deg, #003566 -33.01%, #0CE7BF 100%), #38005A;
}



.cercle{
 position: fixed;
 transform: translateY(-50%);
    z-index: 3;
    // left: 40%;
    // top: 30%;
    background: radial-gradient(50% 50% at 50% 50%, #FFE600 0%, #FFBF00 66.15%, #FF9900 99.99%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
    width: 246px;
    height: 246px;
    border-radius: 50%;
    &:hover{
        width: 446px;
        height: 446px;
        background: radial-gradient(47.36% 47.36% at 50% 52.64%, #47463E 0%, #12120E 90.55%), #C4C4C4;
        transition: 0.5s ease-in-out;
    }
}








