.section2{

    height: 923px;

    background: linear-gradient(180deg, #0CE7BF 0%, #35F180 100%), #38005A;
   
    #ellipse{
       
        animation: circle 50s infinite linear;
        transform-origin: center;
        transform-box: fill-box;
    }
  
.containerS2{
    position: relative;
    height: 923px;
    border: 4px solid red;
    margin-left: 60px;
   
}

    @keyframes circle{
        from{
          transform: rotateZ(0deg);
        }
        to {
           transform: rotateZ(360deg);
        }
    }
  }


  svg{
      position: absolute;
     right: 350px;
    //  bottom: 240px;
    bottom: 200px;
  }

  .planet1{
      position: absolute;
      left: 350px;
      top: 200px;
      @include planet(28px, 28px);
      transform: rotate(147.92deg);

      &:hover{
          cursor: pointer;
          transition: none;
          background: #1AEBAB;
    
      }
    }

//     .starfish{
//         cursor: pointer;
//         position: absolute;
//         left: 350px;
//         top: 300px;
//         animation: star 50s infinite linear;
//         transform-origin: center;
//         transform-box: fill-box;
//     }

//  @keyframes star{
//      from{
//          opacity: 0;
         
//      }
//      to {
//          opacity: 1;
//      }
//  }

    .planet2{
        position: absolute;
        left: 250px;
        top: 498px;
        @include planet(50px, 50px);
    }
  

    /* INTERSECTIONOBSERVER */
.anim {
    opacity: 0;
    transition: 2s ease-in-out;
}

.left{
    transform: translateX(-100%);
}

.right{
    transform: translateX(100%);
}

.anim-reveal{
    transform: translateX(0);
    opacity: 1;
}