
.container1{
    border: 4px solid red;
    width: 55%;
    @include flexCenter(row);
    justify-content: space-between;
   margin-left: 60px;
   padding-top: 30px;
   padding-bottom: 30px;
  
}

h2{
@include texth2(white);
}

.absurde{
    // position: absolute;
    bottom:30px;
    // left:50%;
    // transform: translateX(-50%);
   padding-top: 100px;
}
.container2{
    // position: relative;
    border: 4px solid purple;
    @include flexCenter(column);
    justify-content: space-between;


}

.titreVertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

section{
    background: linear-gradient(180deg, #003566 -33.01%, #0CE7BF 100%), #38005A;
}

img{
    object-fit: cover;
    top:0;
    width: 100%;
    height: 900px;
    position: absolute;
    mix-blend-mode: luminosity;
}

.image1{
    z-index: 5;
}

.cercle{
    z-index: 3;
    left: 40%;
    top: 30%;
    background: radial-gradient(50% 50% at 50% 50%, #FFE600 0%, #FFBF00 66.15%, #FF9900 99.99%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
    width: 246px;
    height: 246px;
    border-radius: 50%;
    &:hover{
        background: black;
    }
}

text {
    fill: red;
    font-size: 30px;
  }





