@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin texth2($colorH2) {
    text-align: center;
    color: $colorH2;
    z-index: 10;
    font-family: 'Menlo';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
}