.container1 {
  border: 4px solid red;
  height: 923px;
  margin-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

h2 {
  text-align: center;
  color: white;
  z-index: 10;
  font-family: "Menlo";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
}

.absurde {
  bottom: 30px;
  padding-top: 85px;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titreVertical {
  position: absolute;
  left: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
          text-orientation: upright;
}

.section1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-33.01%, #003566), to(#0CE7BF)), #38005A;
  background: linear-gradient(180deg, #003566 -33.01%, #0CE7BF 100%), #38005A;
}

.cercle {
  position: fixed;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  background: radial-gradient(50% 50% at 50% 50%, #FFE600 0%, #FFBF00 66.15%, #FF9900 99.99%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
  width: 246px;
  height: 246px;
  border-radius: 50%;
}
.cercle:hover {
  width: 446px;
  height: 446px;
  background: radial-gradient(47.36% 47.36% at 50% 52.64%, #47463E 0%, #12120E 90.55%), #C4C4C4;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section2 {
  height: 923px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0CE7BF), to(#35F180)), #38005A;
  background: linear-gradient(180deg, #0CE7BF 0%, #35F180 100%), #38005A;
}
.section2 #ellipse {
  -webkit-animation: circle 50s infinite linear;
          animation: circle 50s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}
.section2 .containerS2 {
  position: relative;
  height: 923px;
  border: 4px solid red;
  margin-left: 60px;
}
@-webkit-keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes circle {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

svg {
  position: absolute;
  right: 350px;
  bottom: 200px;
}

.planet1 {
  position: absolute;
  left: 350px;
  top: 200px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: radial-gradient(50.85% 50.85% at 72.27% 83.47%, #FA00FF 0%, #3300FF 100%), #C4C4C4;
  -webkit-transform: rotate(147.92deg);
          transform: rotate(147.92deg);
}
.planet1:hover {
  cursor: pointer;
  -webkit-transition: none;
  transition: none;
  background: #1AEBAB;
}

.planet2 {
  position: absolute;
  left: 250px;
  top: 498px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(50.85% 50.85% at 72.27% 83.47%, #FA00FF 0%, #3300FF 100%), #C4C4C4;
}

/* INTERSECTIONOBSERVER */
.anim {
  opacity: 0;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.anim-reveal {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}/*# sourceMappingURL=style.css.map */